.radio{
     display: inline-block;
     height: 15px;
     width: 15px;
     padding: 500px;
}
 .form-head {
     color: white;
     background: #BDBDBD;
     font-weight: bold;
     font-size: 25px;
     padding: 20px;
     white-space: pre;
     border-radius: 5px 5px 0px 0px;
}
 .head{
     float: right;
}
 .headtext{
     color: #04B4AE;
}
 .box{
     border: 1px solid gray;
     width: 600px;
     height: 752px;
     border-radius: 5px;
     margin-top: 5%;
     margin-left: 30%;
     margin-right: 50% margin-bottom: 0px;
}
 .form-class{
     display: inline-block;
}
 input{
     height: 40px;
     width: 500px;
     margin-top: 5px;
     margin-bottom: 10px;
     border-radius: 5px;
}
 textarea{
     width: 500px;
     margin-top: 5px;
     margin-bottom: 10px;
     border-radius: 5px;
}
 select{
     height: 40px;
     width: 500px;
     font-weight: bold;
     padding: 5px;
     color: white;
     background: #04B4AE;
     margin-top: 5px;
     margin-bottom: 10px;
     border-radius: 5px;
}
 .ver{
     height: 40px;
     width: 100px;
     margin-top: 5px;
     margin-bottom: 10px;
     border-radius: 5px;
}
 .inputbox{
     border: 1px solid #999;
     border-radius: 5px;
     margin: 10px;
     height: 40px;
     width: 97%;
}
 .custom-file-input::before{
     width: 50px;
     height: 10px;
     content: '';
     display: inline-block;
     text-align: right;
     padding: 5px 170px;
     outline: none;
     font-weight: bold;
     font-size: 12px;
}
 .file {
     position: absolute;
     clip: rect(0px, 0px, 0px, 0px);
     display: block;
}
 .button{
     margin-left: 450px;
     margin-top: 20px;
     margin-bottom: 20px;
     height: 40px;
     width: 100px;
     padding: 1px;
     font-weight: bold;
     color: white;
     font-size: 15px;
     border-radius: 10px;
     background: #04B4AE;
}
 label{
     margin-top: 200px;
}