 body{
         padding:0;
         margin:0;
         background: #2E2E2E;
         }
         h1{
         color: white;
         font-size: 40px;
         white-space: pre;
         margin-left: 10%;
         margin-right: 10%;
         }
         .div1{
         position:relative; 
         margin-left: 5%; 
         margin-right: 5%; 
         height: 180px; 
         background: #424242;
         }
         .div2{
         position:relative;
         padding-top: 5%;  
         margin-left: 5%; 
         margin-right: 5%; 
         background: white;
         }
         #div-2-inside{
            margin-left: 10%; 
            margin-right: 10%;
         }
         li{
         display: inline-block;
         padding-left: 20px;
         padding-top: 10px;
         padding-bottom: 10px;
         color: white;
         font-weight: bold;
         }
         nav{
         background: #1C1C1C;
         margin-left: 10%;
         margin-bottom:50px;
         margin-right: 10%;
         }
         .big-image-div{
         font-family:Purisa;
         background: #1C1C1C; 
         width: 100%; 
         height: 50%; 
         margin-bottom: 1%; 
         position:relative; 
         margin-top: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         }
         .text{
         display: inline-block;
         background: #D8D8D8;
         margin-bottom: 2%; 
         padding: 5px;
         display: flex;
         color: black;
         justify-content: center;
         align-items: center;
         }
         span{
         color: white;
         font-weight: bold;
         font-size: 20px;
         }
         .card-outer{
         border:1px solid gray; 
         display: inline-block;
         padding: 5px;
         }
         .card{
         font-family:Purisa;
         background: #1C1C1C;
         width: 215px;
         height: 315px;
         display: flex;
         justify-content: center;
         align-items: center;
         }
         footer{
            background: #1C1C1C; 
            height: 80px;
            padding: 10px;
         }
         .footer-text{
         font-size: 15px;
         padding-top: 20px;
         padding-left: 10%; 
         padding-right: 10%;
         }
